@import './nullset.scss';
$color_1: rgb(54, 56, 62);
$color_2: #fff;
$color_3: #5d6f41;
$fz: 18px; 
$fz50: 50px;
$ff: Arial;
body {
    background-color: #9C7D71;
}
.header {
    width: 100%;
    padding: 25px 0px 25px 0px;
    margin: 0px 0px 20px 0px;
    background: #AF8A6D;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
		&__links {
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            font-size: $fz+5;
            letter-spacing: 0.1em;
            &_img {
        

            }
            &_link  {
                color: $color_2;
                padding: 10px 40px 10px 40px;
                margin: 0px 0px 0px 0px;
                border-radius: 15px;
                transition: 0.3s;
                &:hover {
                    background-color: #72584e;;
                    border-bottom:4px solid #291E0C ;
                }
            }
            
		}
}

.weather {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin: 0px 0px 150px 40px;

		&__preview {
		}

		&__search {
            display: flex;
            height: 630px;
            width: 600px;
            padding: 10px;
            border-radius: 10px;
            margin: 0px 0px 0px 10px;
            transition: 0.3s;
            flex-direction: column;
            background-color: #72584e;
            & img {
                max-width: 80px;
                max-height: 80px;
                width: 100%;
                margin: 20px 0px 20px 40px;
            }

		}


		&__city {
            align-self: center;
            max-width: 500px;
            width: 100%;
            margin-top: 10px;
            padding: 20px;
            border-radius: 15px;
            background-color: #291E0C;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            font-size: $fz;
            letter-spacing: 0.1em;
            color: $color_2;
		}

		&__temperatureContent {
            align-self: center;
            max-width: 500px;
            width: 100%;
            margin-top: 10px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            font-size: $fz + 80;
            letter-spacing: 0.1em;
            color: #fff;
            margin: 0px 0px 20px 0px;
            &::after {
                content: " °C";
                font-size: $fz+60;
  
            }
    

		}

		&__content {
            align-self: center;
            display: flex;
            justify-content: space-between;
            max-width: 500px;
            width: 100%;
            margin-top: 10px;
            margin: 30px 0px 30px 0px;
            padding: 0px 0px 5px 0px;
            border-bottom: 2px solid $color_2;
		}

		&__name {
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            font-size: $fz;
            letter-spacing: 0.1em;
            color: $color_2;
		}

		&__date {
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            font-size: $fz;
            letter-spacing: 0.1em;
            color: $color_2;
            font-weight: 400;
		}
        &__searchButton {
            align-self: center;
            max-width: 300px;
            max-height: 50px;
            width: 100%;
            height: 100%;
            margin-top: 10px;
            background-color: #513930;
            transition: 0.3s;
            border-radius: 10px;
            color: $color_2;
            font-size: $fz;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            &:hover {
                background-color: #291E0C;
                
            }
        }
}
.preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: $fz;
    letter-spacing: 0.1em;
    color: #fff;
    max-width: 900px;
    width: 100vh;
    height: 300px;
    &::before {
        content: "";
        position: absolute;
        max-width: 900px;
        max-height: 300px;
        width: 100%;
        height: 100%;
        background:url(../img/0427230344011dp.jpg);
        background-position: center;
        background-size: cover;
        z-index: -1;
        border-radius: 10px;
        filter: blur(4px) brightness(0.7);
    }

		&__title {
            font-size: $fz+5;
            text-shadow: 0 0 4px;
            margin: 0px 0px 10px 0px;
            animation: animate 6s ease-in-out infinite;
		}

		&__text {
            animation: animate 6s ease-in-out infinite;
		}
}
.information {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    height: 150px;
    flex-wrap: wrap;
    margin: 20px 0px 0px 0px;
		&__block {
            display: flex;
            flex-direction: column;
            background-color: #72584e;
            max-width: 280px;
            width: 100vh;
            height: 100%;
            margin: 0px 0px 10px 0px;
            border-radius: 10px;
            transition: 0.3s;
            padding: 5px;
            &:hover {
                background-color: #513930;
                border-bottom: 6px solid #291E0C ;
                
            }
            
		}
 
}
.block {
		&_name {
        font-weight: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: $fz - 5;
        letter-spacing: 0.1em;
        color: #fff;
		}

		&_content {
            margin: 25px 0px 0px 30px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            font-size: $fz + 30;
            letter-spacing: 0.1em;
            color: #fff;
            // &::after {
            //     content: "км/ч";
            //     font-size: $fz;
            // }
		}

		&_image {
            align-self: center;
            display: flex;
            max-width: 50px;
            max-height: 50px;
            width: 100%;
            height: 100%;
		}
}
.footer {
    background: #AF8A6D;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 64px 0px;
    font-size: $fz;
    color: $color_2;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1em;

}
.info {
}
.wind::after {
    content: "км/ч";
    font-size: $fz+8;
}
.humidity::after {
    content: "%";
     font-size: $fz+8;
}
.feelsLike::after {
    content: "°C";
   font-size: $fz+8;
}
.minTemp::after {
    content: "°C";
   font-size: $fz+8;
}
.maxTemp::after {
    content: "°C";
   font-size: $fz+8;
}
.pressure::after {
    content: "гПА";
   font-size: $fz+8;
}

@keyframes animate {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}
@media (max-width: 1600px) { 
    .weather {
        margin: 0px 0px 100px 0px;
    }
    .weather__search{
        order: 0;
        width: 100%;
        margin: 0px 0px 50px 30px;
        & img {
            max-width: 100px;
            max-height: 100px;
            width: 100%;
            align-self: center;
        }
    
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
    
    .weather {
        display: flex;
        flex-direction: column;
        margin: 0px 0px 200px 0px;
        &__city {
            align-self: center;
            max-width: 800px;
            width: 100%;
            margin-top: 10px;
            padding: 20px;
            border-radius: 15px;
            background-color: #291E0C;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            font-size: $fz;
            letter-spacing: 0.1em;
            color: $color_2;
		}
    }
    .weather__search{
        order: 0;
        width: 100%;
        margin: 0px 0px 50px 0px;
    
    }
    .weather__preview {
        order: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .preview {
        align-self: center;
        max-width: 970px;
        width: 100%;
        &::before {
            content: "";
            position: absolute;
            max-width: 970px;
            max-height: 300px;
            width: 100%;
            height: 100%;
            background:url(../img/0427230344011dp.jpg);
            background-position: center;
            background-size: cover;
            z-index: -1;
            border-radius: 10px;
            filter: blur(4px) brightness(0.7);
        }
    }
    .information {
        align-self: center;
    }
    .footer {

    }
  
}
@media (max-width: 992px) {
    .container {
        max-width: 750px;
      }
      .information {
        max-width: 750px;
        &__block {
            margin: 0px 10px 10px 0px;
        }
    }
    .weather {
        margin: 0px 0px 400px 0px;
    }


}
@media (max-width: 767px) {
    .container {
        max-width: none;
        &__links
        {
            
           &_link  {
                color: $color_2;
                font-size: $fz;
                padding: 10px 20px 10px 20px;
                margin: 0px 0px 0px 0px;
                border-radius: 15px;
                transition: 0.3s;
                &:hover {
                    background-color: #72584e;;
                    border-bottom:4px solid #291E0C ;
                }
            }
        }
            
      }
      .information {
        max-width: none;
        max-height: 200px;
        justify-content: center;
        &__block {
            max-width: 320px;
            height: 100%;
        }
    }
    .weather {
        margin: 0px 0px 850px 0px;
    }
    .weather {
        
		&__temperatureContent {
            align-self: center;
            max-width: 500px;
            width: 100%;
            margin-top: 10px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            font-size: $fz + 70;
            letter-spacing: 0.1em;
            color: #fff;
            margin: 0px 0px 20px 0px;
            &::after {
                content: " °C";
                font-size: $fz+40;
  
            }
    

		}
    }
}


